<h1>Welcome on your favorite restaurant page</h1>

<ul>
  {{#each restaurants}}
    <li>
      <label>
        Name of restaurant:
        <p>{{restaurantName}}</p>
      </label>
      <label>Desc: <p>{{description}}</p></label>
      <label>City:<p>{{city}}</p></label>
      <label>Website: <p>{{website}}</p></label>
    </li>
    <form action="/restaurant/{{_id}}/delete" method="post">
        <button type="submit">Delete restaurant</button>
    </form>
      <a href="/restaurant/{{_id}}/update">Edit restaurant</a>
  {{/each}}
</ul>