<link rel="stylesheet" href="/stylesheets/restaurant-style.css" />



<div class="all-restaurant-container">
{{#if isOwner}}

<h1 class="all-restaurants-title">
Welcome ma human!
</h1>
{{else if hasOwner}}
<div class="all-restaurants-title">
<h1>Welcome on {{username}} favorite restaurant page</h1>
<div class="public-profile-img-container">
<img src="{{profilePic}}" alt="profile-pic"  class="public-profile-img"/> 
</div>
</div>
{{else}}
<h1 class="all-restaurants-title">Hello to general list</h1>
{{/if}}

<div>
<ul class="list-all-restaurant">
  {{#each restaurants}}
    <li>
      <label class="restaurant-label">Name of restaurant:<p class="restaurant-info">{{restaurantName}}</p></label>
      <label class="restaurant-label">Description: <p class="restaurant-info">{{description}}</p></label>
      <label class="restaurant-label">City:<p class="restaurant-info">{{city}}</p></label>
      <label class="restaurant-label">Website: <p class="restaurant-info">{{website}}</p></label>
    </li>
    <br/>
    {{#if ../isOwner}}
    <div class="all-restaurants-controllers">
      <form action="/restaurant/{{_id}}/delete" method="post">
        <button type="submit" class="delete-restaurant-btn">Delete restaurant</button>
      </form>
      <button class="edit-restaurant-btn">
              <a href="/restaurant/{{_id}}/update" >Edit restaurant</a>
      </button>
     
      </div>
    {{/if}}
  {{/each}}
</ul>
</div>
</div>