{{#if isOwner}}
<h1>
Welcome ma human!
</h1>
{{else if hasOwner}}
<h1>Welcome on {{username}} favorite restaurant page</h1>
{{else}}
<h1>Hello to general list</h1>
{{/if}}

<ul>
  {{#each restaurants}}
    <li>
      <label>
        Name of restaurant:
        <p>{{restaurantName}}</p>
      </label>
      <label>Desc: <p>{{description}}</p></label>
      <label>City:<p>{{city}}</p></label>
      <label>Website: <p>{{website}}</p></label>
    </li>
    {{#if ../isOwner}}
      <form action="/restaurant/{{_id}}/delete" method="post">
        <button type="submit">Delete restaurant</button>
      </form>
      <a href="/restaurant/{{_id}}/update">Edit restaurant</a>
    {{/if}}
  {{/each}}
</ul>