<h1>Welcome on {{user.userName}} favorite restaurant page</h1>

<ul>
  {{#each restaurants}}
    <li>
      <label>
        Name of restaurant:
        <p>{{restaurantName}}</p>
      </label>
      <label>Desc: <p>{{description}}</p></label>
      <label>City:<p>{{city}}</p></label>
      <label>Website: <p>{{website}}</p></label>
    </li>
  {{/each}}
</ul>